.card__border-radius {
  border-radius: 10px;
  background-color: #fe9603;
}

.card__border-radius .card-body {
  display: flex;
  align-items: center;
}

.card__border-radius .card-body h3 {
  color: #fff;
}

.flex-d-reverse {
  flex-direction: row-reverse;
}

.fhm-form {
  box-shadow: 0 0 30px rgba(254, 150, 3, 15%);
}

.card-content h3 {
  text-align: center;
}

.portfolio-image {
  border-radius: 5px;
}

.portfolio-desc span {
  font-size: 0.9vw;
}

.ads-sect {
  background-color: #fff;
  margin-top: 0;
  padding-top: 0;
}

.ads-sect .fbox-icon {
  align-self: center;
}

.ads-sect .fbox-content {
  text-align: center;
}
