.card__border-radius {
  border-radius: 10px;
  background-color: #fe9603;
}

.card__border-radius .card-body {
  display: flex;
  align-items: center;
}

.card__border-radius .card-body h3 {
  color: #fff;
}

.flex-d-reverse {
  flex-direction: row-reverse;
}

.fhm-form {
  box-shadow: 0 0 30px rgba(254, 150, 3, 15%);
}

.card-content h3 {
  text-align: center;
}

.portfolio-image {
  border-radius: 5px;
}

.portfolio-desc span {
  font-size: 0.9vw;
}

.ads-sect {
  background-color: #fff;
  margin-top: 0;
  padding-top: 0;
}

.ads-sect .fbox-icon {
  align-self: center;
}

.ads-sect .fbox-content {
  text-align: center;
}

/* START PRICE */

#price .feature-box {
  height: 100%;
}

#price .fbox-content {
  flex: unset;
}

#price .feature-box .fbox-content:nth-of-type(4) {
  flex: 1;
}

#price .card {
  min-width: 100%;
}

#price .fbox-content h3 {
  font-size: 35px;
}

#price .fbox-content p {
  color: #000;
}

.icon-star3 {
  color: #3293ce;
  margin: 0 2px;
  font-size: 25px;
  display: flex;
  align-items: flex-end;
}

.price-money p span {
  font-size: 25px;
  font-weight: bold;
  color: #3293ce;
}

.fbox-content li {
  list-style: none;
}

.fbox-content li i {
  color: #3293ce;
  margin-top: 2px;
}

#price .button {
  background-color: #3293ce;
}
